{% extends "base.html" %}
{% block content %}

<h1 class="main-title">Performance Review Reservamos</h1>
{% if not logged_in: %}
<div class="box">
      <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Login</a>
      <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>
</div>
{% else %}
<br>
<div class="box">
    <h1>
        <a class="btn btn-primary btn-large float-center" href="{{url_for('questions_by_area')}}">Start Evaluation</a>
    </h1>
</div>
{% endif %}


{% endblock %}